
#form-cont{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width:350px;
    z-index: 0;
    color: black;

    margin-top: 40px;
    margin-bottom: 40px;

    border: 2px solid white;
    border-radius:10px;
    -webkit-box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75);
}

    #heading{
        height: 70px;
        width:auto;
        margin-top: 40px;

        font-size: 45px;
        font-weight: bolder;
        text-align: center;
        color: black;
        border-bottom: 2px solid white;
    }

    .field{
        width: 70%;
        margin-top: 30px;
    }

        p.label{
            margin: 0px;
            width: 100%;
            font-size:25px;
            text-align: center;
        }

        input.form{
            outline: none;
            border:none;
            background-color: rgba(255, 255, 255, 0.164);

            height: 35px;
            width: 100%;
            margin-top:10px;
            padding:2px;
            padding-left: 15px;
            padding-right:15px;

            font-weight: bold;
            font-size: 17px;
            text-align: left;
    
            border-radius:10px;
            transition: all 0.5s;
            
            -webkit-box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 49px -10px rgba(0, 0, 0, 0.75); 
        }


        #signin{
            margin-top: 30px;
            margin-bottom: 40px;
            padding: 6px;

            border: 2px solid white;
            border-radius:5px;
            font-size: 25px;
            color: black;
            font-weight: bold;
            transition: all 0.3s
        }
        #signin:hover{
            cursor: pointer;
            background-color:white
        }