#rank{
    align-self: center;
    width: 250px;
    height: auto;
    font-size:25px;
    padding:10px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    z-index: 0;
}
.rankh{
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;

}
#rankn{
    font-weight: bolder;
    font-size: 40px;
}