#logo {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.Tilt {
    height: 100%;
    width: 100%;
}

.Tilt-inner {
    height: 100%;
    width: 100%;

    background-image: url(logo.png);
    background-size: cover;
    background-position: center;
    
}