#nav {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.navbtn {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-right: 7px;
    transition: all 0.5s;
}

.navbtn:hover {
    color: black;
    
}

    /* -webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.57); */